
<div class="border-start border-secondary border-3 p-2 mt-5 mb-5">
  <h4><%= @question %></h4>
  <p>-You</p>
</div>

<div class="border-start border-secondary border-3 p-2 mb-5" id="coach-answer">
  <h4><%= @answer %></h4>
  <p>-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
